.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: block;
  border-radius: 50%;
  border: 4px solid transparent;
  animation: spin 1s infinite ease-in-out;
  height: 300px;
  width: 300px;
  border-top-color: var(--bg-color-dark);
  border-left-color: var(--bg-color-dark);
  transition: border 0.3s ease-in;
  &.dark {
    border-top-color: var(--bg-color-light);
    border-left-color: var(--bg-color-light);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
